@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');


.kontaktDiv{
    position: absolute;
    top: 560vh;
    height: 190vh;
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
  
    background-color:#4da8f8 ;
    transform: skewY(3deg);
    z-index: 8;
  
  
 
 
}
.kontaktDrugiDiv{
    height: 100%;
    width: 100%;
    transform: skewY(-3deg);

  

}


.kontaktSlika{

    height: 65vh;
    width: 100%;
   border-radius: 7px;



}






@media only screen and (max-width: 768px) {

    .kontaktDiv{
        position: absolute;
        top: 1450vh;
        height: 260vh;
        width: 100%;
        font-family: 'Source Code Pro', monospace;
        cursor: pointer;
      
        background-color:#4da8f8 ;
        transform: skewY(3deg);
        z-index: 8;
      
      
     
     
    }

    .kontaktSlika{
        height: 60vh;
        width: 100%;
       border-radius: 7px;
    
    
    
    }
 
    
    
    
      
      }


        
        
        
        
          
     